body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #0779E4;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: orange;
}

section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #5FA7EE;
    gap: 40px;
}

section.hero img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.textimg {
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textimg h1 {
    margin: 0;
    font-size: 45px;
}

.textimg h3 {
    margin: 0;
    font-size: 30px;
}

.textimg p {
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    background-color: #0779E4;
    color: white;
    border: none;
    padding: 12px 20px;
    width: 120px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: white;
    color: #0779E4;
}

section.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}

section.about img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.abouttext {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}

.abouttext h1 {
    font-size: 36px;
    color: #333;
}

.abouttext h2 {
    font-size: 22px;
    color: #0779E4;
}

.abouttext p {
    color: #666;
    line-height: 1.6;
}

section.Education {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}

section.Education img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Educationtext {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}

.Educationtext h1 {
    font-size: 36px;
    color: #333;
}

.Educationtext h2 {
    font-size: 22px;
    color: #0779E4;
}

.Educationtext p {
    color: #666;
    line-height: 1.6;
}

@media (max-width: 900px) {

    section.hero,
    section.about {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    section.hero img,
    section.about img {
        width: 80%;
    }

    .textimg,
    .abouttext {
        width: 100%;
        align-items: center;
    }

    nav ul {
        gap: 20px;
    }
}

section.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}

section.skill img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.skill-row {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}

.skill {
    flex: 1;
}

.skills {
    padding: 60px 80px;
    background-color: #f5f7fa;
}

.skills h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

.skill {
    margin-bottom: 20px;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    background-color: #0779E4;
    border-radius: 10px;
}

section.Experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
    margin-top: 370px;
}

section.Experience img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.abouttext {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
}

.Experiencetext h1 {
    font-size: 36px;
    color: #333;
}

.Experiencetext h2 {
    font-size: 36px;
    color: black;
}

.Experiencetext h3 {
    color: #999999;
}

.services {
    padding: 60px 80px;
    background-color: #e6f0ff;
    text-align: center;
    border: 2px red solid;

}

.serv h1 {
    font-size: 36px;
    margin-bottom: 50px;
    color: #333;
    text-align: center;


}

.service-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
}

.service-box {
    background-color: white;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 250px;
}

.service-box img {
    width: 100%;
    margin-bottom: 20px;
}
.service-box img app{
    width: 80%;
}
.service-box h3 {
    margin-bottom: 15px;
    color: #0779E4;
}

.service-box p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

.service-box h2 a {
    color: #0779E4;
    font-size: 18px;
    margin-top: 60px;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

section.contact {
    margin-top: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background-color: #f5f7fa;
    gap: 40px;
}

section.contact img {
    width: 35%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.conntact {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #333;
    
}

.conntact .contact-row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.conntact .contact-info h2 {
    color: black;
    font-size: 18px;
    margin-bottom: 5px;
}

.conntact .contact-info p {
    color: #0779E4;
    margin: 0;
}
.conntact .contact-info a{
     color: #0779E4;
    margin: 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #0779E4;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #055bb5;
}
.footer {
    background: #111;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
}

.footer-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-container p {
    color: #ccc;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    font-size: 25px;
    color: #fff;
    background: #222;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

/* تأثير Hover جميل */
.social-icons a:hover {
    background: #ff6600;
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 0 10px #ff6600;
}

.copy {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
}
